.img_principal img{
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
}

.miniaturas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    margin-top: 1rem;
}
.miniaturas div{
    cursor: pointer;
}
.miniaturas img{
    border-radius: 0.8rem;
    width: 100%;
    height: 100%;
}
.miniaturas img:hover{
    opacity: 0.5;
}
.seleccionado1{
    border:3px solid hsl(26, 100%, 55%);
    border-radius: 1rem;
    
}
.seleccionado1 img{
    opacity: 0.5;
}